<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Wambugu Moses</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>
    <body>
        <!-- navbar -->
         <nav>
            <div class="logo">
                <img src="{% static 'logo/wambugu.png' %}" alt="logo">
            </div>
            <!-- Humbuger menu -->
             <div class="humbuger"  id="humbuger" onclick="toggleMenu()">
                ☰
             </div>
            <ul id="nav-links">
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="#blog">Blog</a></li>
            </ul>
         </nav>

         <!-- hero -->
          <section class="hero" id="home">
            <h1>Hi, I'm Wambugu Moses.</h1>
            <p id="p1"> Software Engineer | Graphic Designer | Upcoming AI Engineer <br></p>
            <p id="p2">Building Tech Solutions that Inspire Change.Advocate for sustainability & STEM mentoring.</p>
            <div class="socials">
                <a href="https://github.com/Polymathh" target="_blank"><img src="{% static 'logo/github.png' %}"></a>
                <a href="https://www.tiktok.com/@wambugu_ai?is_from_webapp=1&sender_device=pc" target="_blank"><img src="{% static 'logo/tiktok.png' %}"></a>
                <a href="https://www.linkedin.com/in/wambugumoses/" target="_blank"><img src="{% static 'logo/linkedin.png' %}"></a>               
            </div>
          </section>

          <!-- About -->
           <section class="about" id="about">
            <h2>Who I am.</h2>
            <div class="text">
                <p> I’m a versatile Software Developer, Graphic Designer, and an aspiring AI Engineer. My journey blends creativity with technology, allowing me to design and build digital solutions that are not only functional but also visually impactful.<br><br>
                    I create solutions that blend design, code, and strategy through web and mobile development, digital marketing, and UI/UX design. Passionate about sustainability and STEM mentoring, I use technology as a tool for positive change and to empower communities. Let’s connect and build impactful solutions together.</p>
            </div>
            
            <div class="images">
                <div class="left">
                <img src="{% static 'images/kim1.jpg' %}" alt="My photo1">
            </div>

            <div class="right">
                <img src="{% static 'images/kim.jpg' %}" alt="My photo1">
                <img src="{% static 'images/kim2.png' %}" alt="My photo1">
            </div>
            </div>
           </section>
           
           <!-- Project -->
            <section id="projects" class="projects">
                <h2>My Work Showcase</h2>

                <!-- Nav bar -->
                <div class="project-nav">
                    <a href="?category=all" 
                    class="filter-btn {% if request.GET.category == 'all' or not request.GET.category %}active{% endif %}">
                    All
                    </a>
                    {% for key, label in categories %}
                    <a href="?category={{ key }}#projects" 
                        class="filter-btn {% if request.GET.category == key %}active{% endif %}">
                        {{ label }}
                    </a>
                    {% endfor %}
                </div>

                <div class="project-grid">
                    {% for project in projects %}
                        <div class="project-card">
                            <img src="{{ project.image.url }}" alt="{{ project.title }}">
                            <div>
                            <h3>{{ project.title }}</h3>
                                <p>{{ project.description }}</p>
                                {% if project.link %}
                                    <a href="{{ project.link }}" class="btn" target="_blank">View Project</a>
                                {% endif %}
                            </div>
                        </div>
                    {% empty %}
                     <p>No projects added yet.</p>
                    {%endfor%}
                </div>
            </section>

            <!-- Contact -->
             <section class="contact" id="contact">
                <h2>Let's Connect...</h2> 
                <div class="container">
                    <div class="container-left">
                       <p>Have a project idea, collaboration in mind, or just want to say hello? <br>Reach out through the form or via socials.</p>

                       <!-- socials-icons -->
                        <div class="socials1">
                            <a href="https://github.com/Polymathh" target="_blank"><img src="{% static 'logo/github.png' %}"></a>
                            <a href="https://www.linkedin.com/in/wambugumoses/" target="_blank"><img src="{% static 'logo/linkedin.png' %}"></a>               
                            <a href="https://www.tiktok.com/@wambugu_ai?is_from_webapp=1&sender_device=pc" target="_blank"><img src="{% static 'logo/tiktok.png' %}"></a>
                            <a href="https://www.tiktok.com/@wambugu_ai?is_from_webapp=1&sender_device=pc" target="_blank"><img src="{% static 'logo/whatsapp.png' %}"></a>
                            <a href="https://www.tiktok.com/@wambugu_ai?is_from_webapp=1&sender_device=pc" target="_blank"><img src="{% static 'logo/phone.png' %}"></a>
                        </div>
                    </div>

                    <div class="container-right">
                        <form method="post" novalidate>
                            {% csrf_token %}
                            <div class="form-row">
                                {{ form.name }} {{ form.phone }}
                            </div>
                            {{ form.email }}
                            {{ form.subject }}
                            {{ form.message }}
                            <button type="submit" class="btn-submit">SEND</button>
                        </form>
                    </div>
                </div>
             </section>  

             
             <script>
                const humbuger = document.getElementById("humbuger");
                const navLinks = document.getElementById("nav-links");
              
                // Toggle menu on humbuger click
                humbuger.addEventListener("click", () => {
                  navLinks.classList.toggle("show");
                });
              
                // Close menu when a link is clicked
                document.querySelectorAll("#nav-links a").forEach(link => {
                  link.addEventListener("click", () => {
                    navLinks.classList.remove("show");
                  });
                });

                const filterBtns = document.querySelectorAll(".filter-btn");
                const projectCards = document.querySelectorAll(".project-card");

                filterBtns.forEach(btn => {
                btn.addEventListener("click", () => {
                    // remove active class
                    filterBtns.forEach(b => b.classList.remove("active"));
                    btn.classList.add("active");

                    const filter = btn.getAttribute("data-filter");

                    projectCards.forEach(card => {
                    if (filter === "all" || card.dataset.category === filter) {
                        card.style.display = "block";
                    } else {
                        card.style.display = "none";
                    }
                    });
                });
                });

              </script>
              
                           
    </body>
</html>